services:
  zookeeper:
    image: zookeeper
    container_name: zookeeper
    restart: always

  nimbus:
    image: storm
    container_name: nimbus
    command: storm nimbus
    depends_on:
      - zookeeper
    links:
      - zookeeper
    restart: always
    ports:
      - 6627:6627

  supervisor:
    image: storm
    container_name: supervisor
    command: storm supervisor
    depends_on:
      - nimbus
      - zookeeper
    links:
      - nimbus
      - zookeeper
    restart: always

  flask-service:
    build:
      context: ./flask-service
        # Might need to uncomment this on other platforms? I'm on an m1 mac
    platform: linux/amd64
    container_name: flask-service
    restart: always
    ports:
      - "5500:5500"
    depends_on:
      - nimbus
      - supervisor
  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    environment:
      POSTGRES_DB: twitch
      POSTGRES_USER: twitch
      POSTGRES_PASSWORD: twitch
    ports:
      - "5432:5432"
    volumes:
      - ./db/data:/var/lib/postgresql/data
      - ./db/init:/docker-entrypoint-initdb.d
